@using Courses.Infrastructure.DTO
@model CourseDetails;
<link rel="stylesheet" href="~/css/Course/Create.css" asp-append-version="true" />
<header class="GlassEfectSection" style="width:120%;display:flex;justify-content:space-evenly;font-size:1.2rem;">
    <div class="ActiveBtn" id="BaseDateBtn" onclick="ChangeBtn(this)" data-value="Base">Dane podstawowe</div>
    <div class="InactiveBtn" id="LesonBtn" onclick="ChangeBtn(this)" data-value="Lesson">Lekcje</div>
</header>
<form asp-action="Edit" method="post" style="width:120%;font-size:1.1rem;" class="d-grid text-center GlassEfectSection">
    <section id="BaseSection">
    <h1>Edytuj podstawowe dane</h1>
    <section class="d-grid text-center">
        <span for="@Model.Title" style="font-size:1.2rem;">Tytuł:</span>
        <input type="text" asp-for="@Model.Title" class="CustomInput" />
    </section>

    <section class="d-grid text-center">
        <span for="@Model.Description" style="font-size:1.2rem;">Opis:</span>
        <textarea asp-for="@Model.Description" class="CustomInput" style="min-height:200px;"></textarea>
    </section>
    <section class="d-grid text-center">
        <span for="@Model.Author" style="font-size:1.2rem;">Autor:</span>
        <input type="text" asp-for="@Model.Author" class="CustomInput" />
    </section>
    <section class="d-grid text-center">
        <span for="@Model.Price" style="font-size:1.2rem;">Cena:</span>
        <input type="number" asp-for="@Model.Price" class="CustomInput" />
    </section>
    </section>
    <section class="overflow-hidden hidden" id="LessonSection">
        <h1>Edytuj zajęcia</h1>
        <section>
            @foreach(var oneTopic in Model.Topics)
            {
                <div class="GlassEfectSection">
                    <h2>Temat @Model.Topics.IndexOf(oneTopic)</h2>
                    <div class="expandBtnSection" id="ExpandSection_@oneTopic.Id">
                        <svg id="collapseBtn" width="25" height="25" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="collapse('@oneTopic.Id')" style="cursor:pointer">
                            <circle cx="50" cy="50" r="45" stroke="black" stroke-width="5" fill="white" />
                            <polyline points="30,60 50,40 70,60" stroke="black" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div>
                        @oneTopic.Name
                        <span>@oneTopic.Description</span>
                        <p>Lekcje w Temacie:</p>
                        <section id="Topic_@oneTopic.Id" class="LessonsForTopic">
                            
                            @foreach(var lesson in oneTopic.lessons.OrderBy(x=>x.LessonNumber))
                            {
                                <div style="cursor:pointer;justify-content:space-between">
                                    <span style="max-width:47%">@lesson.LessonNumber. @lesson.Name</span>
                                    <div style="max-width:47%">
                                        <input type="button" value="Edytuj" class="LessonEditBtn" onclick="OpenEditLessonModal('@lesson.Id')" />
                                        <input type="button" value="Usuń" class="LessonDeleteBtn" />
                                    </div>
                                </div>
                            }
                        </section>
                        <p class="PrimaryBtn ButtonFromP" onclick="AddLessonBtn('@oneTopic.Id')">Dodaj lekcję</p>                     
                    </div>
                </div>
            }
        </section>
        <p onclick="AddTopicSection('@Model.Id')" class="PrimaryBtn ButtonFromP" style="width: 15%;">Dodaj kolejną temat</p>
    </section>
    <button class="PrimaryBtn" style="width:10%;min-width:140px">Zapisz</button>
</form>
<section class="GlassEfectSection d-grid justify-content-center text-center hidden" style="width:120%;font-size:1.1rem;" id="LessonAndTopicSection">
    
</section>
@section Scripts{
<script src="~/js/Course/Edit.js"></script>
<script>
    function collapse(topicId){
        if(document.getElementById(`Topic_${topicId}`)){
            document.getElementById(`Topic_${topicId}`).classList.remove("ExpandSection");
            document.getElementById(`Topic_${topicId}`).classList.add("CollapseSection");
            document.getElementById(`Topic_${topicId}`).style.overflow = "hidden";
            setTimeout(()=>{
                document.getElementById(`Topic_${topicId}`).style.display = "none";
            }, "500");
            document.getElementById(`ExpandSection_${topicId}`).innerHTML = expandBtn.replace("REPLACE",`${topicId}`);
        }
    }
    function expand(topicId){
        if(document.getElementById(`Topic_${topicId}`)){
                document.getElementById(`Topic_${topicId}`).style.display = "flex";
            document.getElementById(`Topic_${topicId}`).classList.remove("CollapseSection"); 
            document.getElementById(`Topic_${topicId}`).classList.add("ExpandSection");
            document.getElementById(`ExpandSection_${topicId}`).innerHTML = collapseBtn.replace("REPLACE",`${topicId}`);
        }
    }
    const expandBtn = ` <svg id="expandBtn" width="25" height="25" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="expand('REPLACE')">
                          <circle cx="50" cy="50" r="45" stroke="black" stroke-width="5" fill="white"/>
                          <polyline points="30,40 50,60 70,40" stroke="black" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>`;
    const collapseBtn = `<svg id="collapseBtn" width="25" height="25" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="collapse('REPLACE')" style="cursor:pointer">
                            <circle cx="50" cy="50" r="45" stroke="black" stroke-width="5" fill="white" />
                            <polyline points="30,60 50,40 70,60" stroke="black" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>`;
</script>
}