@using Courses.Infrastructure.DTO
@model CourseDetails;
<link rel="stylesheet" href="~/css/Course/Create.css" asp-append-version="true" />
<header class="GlassEfectSection" style="width:120%;display:flex;justify-content:space-evenly;font-size:1.2rem;">
    <div class="InactiveBtn" id="BaseDateBtn" onclick="ChangeBtn(this)">Dane podstawowe</div>
    <div class="InactiveBtn" id="LesonBtn" onclick="ChangeBtn(this)">Lekcje</div>
</header>
<form asp-action="Edit" method="post" style="width:120%;font-size:1.1rem;" class="d-grid text-center GlassEfectSection">
    <h1>Edytuj swój kurs</h1>
    <section class="d-grid text-center">
        <span for="@Model.Title" style="font-size:1.2rem;">Tytuł:</span>
        <input type="text" asp-for="@Model.Title" class="CustomInput" />
    </section>

    <section class="d-grid text-center">
        <span for="@Model.Description" style="font-size:1.2rem;">Opis:</span>
        <textarea asp-for="@Model.Description" class="CustomInput" style="min-height:200px;"></textarea>
    </section>
    <section class="d-grid text-center">
        <span for="@Model.Author" style="font-size:1.2rem;">Autor:</span>
        <input type="text" asp-for="@Model.Author" class="CustomInput" />
    </section>
    <section class="d-grid text-center">
        <span for="@Model.Price" style="font-size:1.2rem;">Cena:</span>
        <input type="number" asp-for="@Model.Price" class="CustomInput" />
    </section>
    <button class="PrimaryBtn" style="width:10%;min-width:140px">Zapisz</button>
</form>
@section Scripts{
<script src="~/js/Course/Edit.js"></script>
}