@using Courses.Infrastructure.DTO
@model CourseDetails;
<link rel="stylesheet" href="~/css/Course/Create.css" asp-append-version="true" />
<header class="GlassEfectSection" style="width:120%;display:flex;justify-content:space-evenly;font-size:1.2rem;">
    <div class="ActiveBtn" id="BaseDateBtn" onclick="ChangeBtn(this)" data-value="Base">Dane podstawowe</div>
    <div class="InactiveBtn" id="LesonBtn" onclick="ChangeBtn(this)" data-value="Lesson">Lekcje</div>
</header>
<form asp-action="Edit" method="post" style="width:120%;font-size:1.1rem;" class="d-grid text-center GlassEfectSection">
    <section id="BaseSection">
    <h1>Edytuj podstawowe dane</h1>
    <section class="d-grid text-center">
        <span for="@Model.Title" style="font-size:1.2rem;">Tytuł:</span>
        <input type="text" asp-for="@Model.Title" class="CustomInput" />
    </section>

    <section class="d-grid text-center">
        <span for="@Model.Description" style="font-size:1.2rem;">Opis:</span>
        <textarea asp-for="@Model.Description" class="CustomInput" style="min-height:200px;"></textarea>
    </section>
    <section class="d-grid text-center">
        <span for="@Model.Author" style="font-size:1.2rem;">Autor:</span>
        <input type="text" asp-for="@Model.Author" class="CustomInput" />
    </section>
    <section class="d-grid text-center">
        <span for="@Model.Price" style="font-size:1.2rem;">Cena:</span>
        <input type="number" asp-for="@Model.Price" class="CustomInput" />
    </section>
    </section>
    <section class="overflow-hidden" id="LessonSection">
        <h1>Edytuj zajęcia</h1>
        <section>
            @foreach(var oneTopic in Model.Topics)
            {
                <div>
                    @oneTopic.Name
                    <span>@oneTopic.Description</span>
                    <section>
                        Lekcje w Temacie:
                        @foreach(var lesson in oneTopic.lessons)
                        {
                            <div>@lesson.LessonNumber. @lesson.Name</div>
                        }
                    </section>
                </div>
            }
        </section>
        <p onclick="AddTopicSection('@Model.Id')" class="PrimaryBtn ButtonFromP" style="width: 15%;">Dodaj kolejną temat</p>
    </section>
    <button class="PrimaryBtn" style="width:10%;min-width:140px">Zapisz</button>
</form>
<section class="GlassEfectSection d-grid justify-content-center text-center hidden" style="width:120%;font-size:1.1rem;" id="LessonAndTopicSection">
    
</section>
@section Scripts{
<script src="~/js/Course/Edit.js"></script>
}